[submodule "Customizing/global/plugins/Modules/TestQuestionPool/Questions/assStackQuestion"]
	path = Customizing/global/plugins/Modules/TestQuestionPool/Questions/assStackQuestion
	url = https://github.com/surlabs/STACK.git
